*{
    margin: 0;
    padding: 0;
}

/* google font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.primary-color{
    color:#4E47FF;
}
/* btn style */
.btn-primary{
    background-color: #4E47FF;
    border:none;
    border-radius: 10px;
    padding: 12px 36px;
    color:#ffffff;
    font-size:18px;
    font-weight: 700;
    
}
.btn-primary:hover{
    background-color:white;
    transition: 0.5s;
    padding: 14px 38px;
    cursor: pointer;
    font-size: 22px;
    color:#4E47FF;
    box-shadow: 0 0 5px blue;
}

/* header style */
.header{
   background-image:url("Assets/Hero-bg.png");
    padding:0 120px;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:50px 0;
}
nav .logo{
    font-weight: 900;
    font-size:34px;
}
.hero-section{
    text-align: center;
    margin:95px auto ;
}
.hero-title{
    font-size:50px;
    font-weight: 700;
    padding-bottom:20px;
}